body {
  background-color: hsl(212, 45%, 89%);
}
.container {
  width: 320px;
  background-color: hsl(0, 0%, 100%);
  padding: 15px;
  border-radius: 20px;
  margin: 50px auto; 
}
img {
  width: 100%;
  border-radius: 12px;
}
h1 {
  text-align: center;
  font-family: 'Outfit', sans-serif;
  font-size: 29px;
  color: hsl(218, 44%, 22%);
}
p {
  text-align: center;
  font-family: 'Outfit', sans-serif;
  font-size: 15px;
  color: hsl(220, 15%, 55%);
}